#page1.gwd-play-animation .gwd-motion-path-7thq-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["5px", "496px", "10.36px", "497.48px", "12.56px", "496.2px", "40px", "517px"], "startTimeMs": 1556, "endTimeMs": 1907, "easing": "linear"
    }
    , {
      "controlPoints": ["40px", "517px", "40px", "517.33px", "39px", "525.67px", "39px", "526px"], "startTimeMs": 1907, "endTimeMs": 1938, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-7thq-keys-x 0.382s linear 1.556s 1 normal forwards running;
  transform:translate3d(5px, 0px, 0px);
}
@keyframes gwd-motion-path-7thq-keys-x {
  0% {
    transform: translate3d(5px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3067, 0.3582, 0.6587, 0.6758);
  }
  91.88% {
    transform: translate3d(40px, 0px, 0px);
  }
  100% {
    transform: translate3d(39px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-7thq-anim-y {
  animation: gwd-motion-path-7thq-keys-y 0.382s linear 1.556s 1 normal forwards running;
  transform: translate3d(0px, 496px, 0px);
}
@keyframes gwd-motion-path-7thq-keys-y {
  0% {
    transform: translate3d(0px, 496px, 0px);
    animation-timing-function: cubic-bezier(0.392, 0.1937, 0.6984, 0.6817);
  }
  91.88% {
    transform: translate3d(0px, 517px, 0px);
  }
  100% {
    transform: translate3d(0px, 526px, 0px);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  pointer-events: none;
}