#page1.gwd-play-animation .gwd-motion-path-1g7t-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["-52px", "71px", "-66px", "72.67px", "18px", "87.33px", "4px", "89px"], "startTimeMs": 2243, "endTimeMs": 3249, "easing": "ease"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-1g7t-keys-x 1.006s linear 2.243s 1 normal forwards running;
  transform:translate3d(-52px, 0px, 0px);
}
@keyframes gwd-motion-path-1g7t-keys-x {
  0% {
    transform: translate3d(-52px, 0px, 0px);
  }
  5% {
    transform: translate3d(-53.4px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3897, 0.2538, 0.5603, 0.7599);
  }
  47.5% {
    transform: translate3d(-6.42px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.258, 0.6049, 0.2871, 1.3947);
  }
  100% {
    transform: translate3d(4px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-1g7t-anim-y {
  animation: gwd-motion-path-1g7t-keys-y 1.006s linear 2.243s 1 normal forwards running;
  transform: translate3d(0px, 71px, 0px);
}
@keyframes gwd-motion-path-1g7t-keys-y {
  0% {
    transform: translate3d(0px, 71px, 0px);
    animation-timing-function: cubic-bezier(0.2455, 0.3322, 0.4629, 0.9812);
  }
  100% {
    transform: translate3d(0px, 89px, 0px);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  pointer-events: none;
}