#page1.gwd-play-animation .gwd-motion-path-99zq-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["0px", "91px", "-14px", "92.67px", "38px", "111.33px", "24px", "113px"], "startTimeMs": 2243, "endTimeMs": 3249, "easing": "ease"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-99zq-keys-x 1.006s linear 2.243s 1 normal forwards running;
  transform:translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-99zq-keys-x {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  2.5% {
    transform: translate3d(-0.54px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.2752, -0.4091, 0.7219, 0.8753);
  }
  40% {
    transform: translate3d(18.6px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3853, 1.4561, 0.0936, 1.6781);
  }
  100% {
    transform: translate3d(24px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-99zq-anim-y {
  animation: gwd-motion-path-99zq-keys-y 1.006s linear 2.243s 1 normal forwards running;
  transform: translate3d(0px, 91px, 0px);
}
@keyframes gwd-motion-path-99zq-keys-y {
  0% {
    transform: translate3d(0px, 91px, 0px);
  }
  5% {
    transform: translate3d(0px, 91.27px, 0px);
    animation-timing-function: cubic-bezier(0.2194, 0.3638, 0.4422, 1.0598);
  }
  100% {
    transform: translate3d(0px, 113px, 0px);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  pointer-events: none;
}